{% extends 'layout.html' %}

{% block body %}

{% if error %}
<div id="empty_alert" class="alert alert-danger" role="alert">
        {{error}}
</div>
{% endif %}
<div id="setup_form" class="container">
<form action="/setup_finished" method="POST">
    <div id="token_form" class="form-group">
            <label for="token">Input your token</label>
            <input type="text" class="form-control" name="token" id="token" value={{token}} aria-describedby="tokenhelp" placeholder="Enter token">
    
    <div class="alert alert-warning" role="alert">
        Make sure to reboot the bot for this changes to apply.
      </div>
    <button type="submit" class="btn btn-primary">
        Save
    </button>
</form>
</div>
{% endblock %}
